extends ../layouts/application.pug

block header 
  = t('views.statuses.header')
  br
  a(href=route('newStatus') class='btn btn-primary')= t('views.statuses.create')

block content
  
  table.table.table-striped
    thead
      tr
        th= t('views.statuses.id')
        th= t('views.statuses.name')
        th= t('views.users.createdAt')
        th= t('views.users.actions')
    tbody
      each status in statuses
        tr
          td= status.id
          td= status.name
          td= formatDate(status.createdAt)
          td
            div(class='d-flex flex-wrap')
              a(href=route('editStatus', { id: status.id }) class='btn btn-primary me-1')= t('views.statuses.alter')
              +buttonTo(`/statuses/${status.id}`, 'delete')(value= t('views.statuses.delete') class='btn btn-danger')
