extends ../layouts/application.pug

block header 
  = t('views.marks.header')
  br
  a(href=route('newTag') class='btn btn-primary')= t('views.marks.new.submit')

block content
  table.table.table-striped
    thead
      tr
        th= t('views.marks.id')
        th= t('views.marks.name')
        th= t('views.marks.createdAt')
        th= t('views.marks.actions')
    tbody
      each label in labels
        tr
          td= label.id
          td= label.name
          td= formatDate(label.createdAt)
          td
            div(class='d-flex flex-wrap')
              a(href=route('editTag', { id: label.id }) class='btn btn-primary me-1')= t('views.marks.alter')
              +buttonTo(`/labels/${label.id}`, 'delete')(value= t('views.marks.delete') class='btn btn-danger')
